body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:  #ece9e6;

    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
    transition: background-color 0.25s ease, color 0.25s ease;

}

.container {
    width: 50%;
    max-width: 800px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin-left: 10%;
    transition: opacity 0.5 ease;

    transition: background-color 0.25s ease, color 0.25s ease;

}

h1 {
    text-align: center;
    color: #444;
    font-size: 2em;
    margin-bottom: 10px;
    border-bottom: 2px solid #007bff;
    display: float;
    padding-bottom: 10px;
}

h4, #top {
    text-align: center;
    color: #777;
    margin-top: 0;
}

h2 {
    color: #555;
    margin-top: 20px;
}

h5 {
    font-size: 1.25em;
    color: #007bff;
    margin-bottom: 10px;
}

p {
    font-size: 0.9em;
    line-height: 1.6;
    color: #666;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
    font-size: 1em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 5px;
    background-color: #fff;
}

#hhhhh {
    max-width: 90%;
    height: auto;
    border-radius: 4px;
    padding: 5px;
    background-color: #fff;
    margin-left: 5%;
}

/* Popup form styles */
.popup-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 30px;
    border: 1px solid #ccc;
    z-index: 1000;
    max-width: 1000px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-form h3 {
    margin-top: 0;
}

.popup-form label {
    display: block;
    margin-bottom: 15px;
    color: #555;
}

.popup-form input[type="text"],
.popup-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

/* Add this CSS to your stylesheet */
.CodeMirror.small-font {
    font-size: 12px; /* Adjust the font size as needed */
    line-height: 1.2; /* Optional: Adjust line height for better readability */
}

.popup-form .popup-buttons {
    text-align: right;
    margin-top: 20px;
}

.popup-form button {
    padding: 12px 24px;
    margin-left: 10px;
    cursor: pointer;
}

.action-class {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.action-class span {
    font-weight: bold;
}

.action-class-buttons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.action-class-buttons button:hover {
    background-color: #0056b3;
}

/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Use a common sans-serif font */
}

.site-header {
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 15px 0;
}

.site-header h1 {
    font-size: 2em;
    margin: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 265px;
    background-color: #f8f9fa;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.25s ease, color 0.25s ease;


}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0; /* Adjust margin for spacing below header */
}

.sidebar ul li {
    padding: 10px 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    background-color: #77707000;
    transition: background-color 0.3s;
    transition: color 0.2s;

}

.sidebar ul li a:hover {
    color: #afafaf;
}

.sidebar ul li a.active {
    color: #0f7bc7;
    font-weight: bold;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .content {
        margin-left: 200px;
    }
}

@media (max-width: 576px) {
    .sidebar {
        width: 180px;
    }

    .content {
        margin-left: 180px;
    }
}
#Header {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.theme-switcher {
    position: fixed;
    top: 10px;
    right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 4px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    width: 20px;
    text-align: center;
    pointer-events: none;
}

.sun {
    left: 12px;
    color: rgb(151, 151, 151);
}

.moon {
    right: 7px;
    color: rgb(151, 151, 151);
}
.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: #333;
    position: fixed;
    top: -20px; /* Adjust as needed */
    left: -45%; /* Adjust as needed */
    cursor: pointer;
    z-index: 1100; /* Ensure it's above other content */
}
.hamburger:hover {
    background-color: #77707000;
}

.c {
    position: relative; /* Ensure relative positioning for the hamburger button */
}

@media (max-width: 1100px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        width: 265px;
        background-color: #f8f9fa;
        overflow-y: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        transition: left 0.3s ease; /* Use left property for sidebar animation */

    }


    .hamburger{
        display: block;
    }

    .sidebar.show-sidebar {
        left: 0;
    }

    .content {
        margin-left: 0;
    }
    #Header {
    padding-top: 35px;
    }

    .container {
        margin-left: 0;
    }
    .container.sidebar-open {
        pointer-events: none; /* Disable pointer events on the container when sidebar is open */
    }
}
@media (min-width: 1101px) {

.container {
    opacity:1;
}
}

#sun-icon {
    width: 20px; /* Adjust the size as needed */
    height: 20px;
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
    pointer-events: none;
    background-color: #77707000;
}