body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #2a2a2a, #202020);
    
    padding: 20px;
}
pre {
    background-color: #ffffff;
    color: #a9b7c6;
    padding: 5x;
    border-radius: 1px;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    margin-bottom: 20px; /* Add margin bottom for spacing */
}
button {
    display: float;
    width: 120px;
    padding: 10px;
    background-color: #0053ac;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 0%;
}
button:hover {
    background-color: #003369;
}
